@page
@model prn231Flower.FE.Pages.SignUpPage.SignUpModel
@{
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUp</title>
</head>
<body>
    <h3>
        Sign Up
    </h3>
    @if (Model.ErrorMessage != null)
    {
        <div style="color: red;">@Model.ErrorMessage</div>
    }
    <form method="post" asp-page="signup">
        <table>
            <tr>
                <td>UserName</td>
                <td>
                    <input asp-for="@Model.UserName" />
                </td>
            </tr>
            <tr>
                <td>
                    Email
                </td>
                <td>
                    <input asp-for="@Model.Email" />
                </td>
            </tr>
            <tr>
                <td>
                    Password
                </td>
                <td>
                    <input type="password" asp-for="@Model.Password" />
                </td>
            </tr>
            <tr>
                <td>
                    Phone
                </td>
                <td>
                    <input asp-for="@Model.Phone" />
                </td>
            </tr>
            <tr>
                <td>
                    Address
                </td>
                <td>
                    <input asp-for="@Model.Address" />
                </td>
            </tr>
            <tr>
                <td>
                    <input class="btn btn-primary" type="submit" value="Register" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>